[package]
name = "nocodo-desktop"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
build = "build.rs"

[dependencies]
slint = "1.14"

[build-dependencies]
slint-build = "1.14"
