[Unit]
Description=Nocodo Services API
After=network.target

[Service]
Type=simple
User=nocodo
Group=nocodo
Restart=always
RestartSec=10
Environment=NODE_ENV=production
ExecStart=/home/nocodo/Projects/nocodoWorktrees/issue-92-Initialize_Services_API/target/release/nocodo-services
WorkingDirectory=/home/nocodo/Projects/nocodoWorktrees/issue-92-Initialize_Services_API
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target